extends layout

block content
  style.
    html, body, #map_canvas {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map_canvas {
      position: relative;
    }

  if error
    p #{ error }
  #map_canvas
    script.
      var points = !{ JSON.stringify(points) };
  script.
    function initMap() {
      var myLatLng = { lat: parseInt(points[points.length-1].lat), lng: parseInt(points[points.length-1].lng) };
      var map = new google.maps.Map(document.getElementById('map_canvas'), {
        zoom: 4,
        center: myLatLng
      });
      function attachMessage(marker, secretMessage) {
        var infowindow = new google.maps.InfoWindow({
          content: secretMessage
        });

        marker.addListener('click', function() {
          infowindow.open(marker.get('map'), marker);
        });
      }

      for(var i in points){
        console.log(points[i]);
        var marker = new google.maps.Marker({
          position: { lat: parseInt(points[i].lat), lng: parseInt(points[i].lng) },
          map: map,
          title: 'Waypoint ' + i + " with UID " + points[i].UID
        });
        var message = "<b>Point " + i + "</b><br>UID: " +  points[i].UID + "<br>" + "Time: " + points[i].time + "<br>"
        attachMessage(marker, message);
      }
    }
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=#{ map_api }&callback=initMap")
